body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    min-width:320px;
}
main{
    max-width:1200px;
    box-sizing:border-box;
    min-height:100vh;
    margin:0 auto;
    padding:0 15px;
    background-color:#C0DBD9;
    display:grid;
    grid-template: 100px 411px 259px 1fr 100px/1fr;
    grid-gap:15px;
}

header,footer{
    background-color:#7FAFF6;
}

.block1{
    background-color:#B3F95A;
    display:grid;
    grid-template-columns:repeat(6,auto);
    grid-gap:15px;
    counter-reset: section;
}

.block1 div{
    background-color:#8AD191;
    position: relative;
}

.block1 div::before{
    counter-increment:section;
    content: counter(section);
    font-size:3em;
    color:#FFF;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.block1__div1{
    grid-column:1/3;
}
.block1__div2{
    grid-column:3/6;
}

.block1__div4{
    grid-column:1/6;
}

.block1 div:nth-child(2n+3){
    grid-column:6/7;
}

.block2{
    background-color:#88B5BF;
    display:grid;
    grid-template:10.36vw/repeat(4,13.28vw);
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.block2 div{
    background-color: #0D89B0;
    width:100%;
    height:100%;
    max-width:255px;
    max-height:199px;
}

footer{
    grid-row:5/6;
}

.popup-wrapper__content{
    position:relative;
    width: 20.9vw;
    height:20.9vw;
    background-color:#fff;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    min-width:200px;
    min-height:200px;
}

.popup-wrapper{
    display:none;
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#popup:target{
    display: block;
}

.popup-wrapper__text{
    margin:0;
    position: absolute;
    font-size: 3em;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.popup-wrapper__closer{
    display: flex;
    box-sizing:border-box;
    width:10.75%;
    height:9.75%;
    background-color:#7FAFF6;
    justify-content: center;
    align-items:center;
    text-decoration:none;
    position: absolute;
    top:15px;
    right:15px;
    font-size:1.3em;
    border-radius:5px;
}

header{
    display: flex;
    align-items:center;
}

.btn-open{
    display: block;
    box-sizing:border-box;
    width: 206px;
    height:39px;
    background-color:#A5C7F9;
    margin-left:30px;
    text-align: center;
    text-decoration:none;
    color:#FFF;
    font-size: 1.1em;
    border-radius: 5px;
    padding-top: 8px;
}

